.curr_temp {
  font-size: 60px;
  font-weight: 700;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: auto;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-flex {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.metric {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

hr {
  width: 100%;
  border-top: 1px solid #ccc;
  margin: 30px 0;
}
