:root {
  font-family: Poppins, Arial;
  background-color: whitesmoke;
}

.navigation-bar {
  padding: 5px 20px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.nav-link {
  display: flex;
  gap: 30px;
  margin-right: 20px;
}

.links{
  text-decoration: none;
  color: black;
  font-size: 19px;
  font-weight: 500;
}

.curr_temp {
  font-size: 60px;
  font-weight: 700;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 400px;
  height: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: auto;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-flex {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.metric {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

hr{  
  margin-top: 30px;
}

.temp-change-button{
  padding: 7px 12px;
  font-size: 20px;
  font-weight: 500;
  background-color: #959191;
  border: #ccc;
}


.metric-change-button{
  padding: 7px 12px;
  font-size: 20px;
  font-weight: 500;
  background-color: #959191;
  border: #ccc;
  margin-bottom: 15px;
}